<div class="text-center text-danger my-5">
    <h3 class="display-3">
        <i class="fa-solid fa-bug"></i>
        <br />
        Acceess Denied
    </h3>

</div>

<div class="text-center my-5">
    <div class="lead my-5">
        You have no permission to access this page. Please get in ytouch with system administor.
    </div>

    <div class="btn-grop my-5">
        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Home</a>
        <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">Product</a>
        <a class="btn btn-outline-primary" asp-page="/contact">Contact</a>

    </div>
</div>

