@page "/getintouch"

<div class="text-center border my-5">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone text-primary rounded-5 my-3" ></i>
        <p>
            530 060 45 40
        </p>
        <i class="fa-solid fa-location-crosshairs text-primary my-3"></i>
        <p>
            Ulubağ Mah. No: 289/T, Haliliye, Recep Tayyip Erdoğan Blv., 63290 Şanlıurfa Merkez/Şanlıurfa
        </p>
        <i class="fa-solid fa-at text-primary my-3"></i>
        <p>
            yusufali.bekci@hotmail.com
        </p>

    </div>
</div> 